src/main/resources/docfile_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://benchresources.in/cdm/Player" xmlns:tns="http://benchresources.in/cdm/Player"
	elementFormDefault="qualified">

	<!-- TODO: Add model for list -->
	<xsd:element name="DocFileResults">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="total" type="xsd:int" />
				<xsd:element ref="tns:DocFileModel" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DocFileModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="docFileId" type="xsd:long" />
				<xsd:element name="userId" type="xsd:long" />
				<xsd:element name="userName" type="xsd:string" />
				<xsd:element name="createDate" type="xsd:date" />
				<xsd:element name="modifiedDate" type="xsd:date" />
				<xsd:element name="issuerCode" type="xsd:string" />
				<xsd:element name="issuerName" type="xsd:string" />
				<xsd:element name="codeNo" type="xsd:string" />
				<xsd:element name="codeNotation" type="xsd:string" />
				<xsd:element name="promulgationDate" type="xsd:date" />
				<xsd:element name="signerInfo" type="xsd:string" />
				<xsd:element name="documentType" type="xsd:int" />
				<xsd:element name="typeName" type="xsd:string" />
				<xsd:element name="subject" type="xsd:string" />
				<xsd:element name="templateNo" type="xsd:string" />
				<xsd:element name="register" type="xsd:long" />
				<xsd:element name="registerDate" type="xsd:date" />
				<xsd:element name="seqNum" type="xsd:int" />
				<xsd:element name="dueDate" type="xsd:date" />	
				<xsd:element name="status" type="xsd:string" />
				<xsd:element name="isTemplate" type="xsd:boolean" />
				<xsd:element name="isNew" type="xsd:boolean" />
				<xsd:element name="overdue" type="xsd:int" />
				<xsd:element name="permission" type="xsd:string" />
				<xsd:element ref="tns:LabelModel" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DocFileDetailModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="docFileId" type="xsd:long" />
				<xsd:element name="userId" type="xsd:long" />
				<xsd:element name="userName" type="xsd:string" />
				<xsd:element name="createDate" type="xsd:date" />
				<xsd:element name="modifiedDate" type="xsd:date" />
				<xsd:element name="templateNo" type="xsd:string" />
				<xsd:element name="issuerCode" type="xsd:string" />
				<xsd:element name="issuerName" type="xsd:string" />
				<xsd:element name="codeNo" type="xsd:string" />
				<xsd:element name="codeNotation" type="xsd:string" />
				<xsd:element name="promulgationDate" type="xsd:date" />
				<xsd:element name="promulgationPlace" type="xsd:string" />
				<xsd:element name="signerInfo" type="xsd:string" />
				<xsd:element name="documentType" type="xsd:int" />
				<xsd:element name="typeName" type="xsd:string" />
				<xsd:element name="subject" type="xsd:string" />
				<xsd:element name="content" type="xsd:string" />
				<xsd:element name="security" type="xsd:int" />
				<xsd:element name="priority" type="xsd:int" />
				<xsd:element name="pageAmount" type="xsd:int" />
				<xsd:element name="promulgationAmount" type="xsd:int" />
				<xsd:element name="language" type="xsd:string" />
				<xsd:element name="visibility" type="xsd:int" />
				<xsd:element name="archiveCode" type="xsd:string" />
				<xsd:element name="archiveState" type="xsd:string" />
				<!-- TODO: add fields are missing -->

				<xsd:element name="register" type="xsd:long" />
				<xsd:element name="registerDate" type="xsd:date" />
				<xsd:element name="seqNum" type="xsd:int" />
				<xsd:element name="dueDate " type="xsd:date" />
				<xsd:element name="status" type="xsd:string" />
				<xsd:element name="isTemplate" type="xsd:boolean" />
				<xsd:element name="permission" type="xsd:string" />
				<xsd:element name="approvalDate " type="xsd:date" />
				<xsd:element name="signerUserId" type="xsd:long" />
				<xsd:element name="verified" type="xsd:boolean" />
				<xsd:element ref="tns:LabelModel" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="tns:LinkModel" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="tns:ActivityModel" minOccurs="0"
					maxOccurs="unbounded" />
				<xsd:element ref="tns:AttachModel" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DocFileInputModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="templateId" type="xsd:long" />
				<xsd:element name="issuerCode" type="xsd:string" />
				<xsd:element name="codeNo" type="xsd:string" />
				<xsd:element name="codeNotation" type="xsd:string" />
				<xsd:element name="promulgationDate " type="xsd:date" />
				<xsd:element name="signerInfo" type="xsd:string" />
				<xsd:element name="documentType " type="xsd:int" />
				<xsd:element name="typeName" type="xsd:string" />
				<xsd:element name="subject" type="xsd:string" />
				<xsd:element name="register" type="xsd:int" />
				<xsd:element name="registerDate " type="xsd:date" />
				<xsd:element name="seqNum" type="xsd:int" />
				<xsd:element name="dueDate" type="xsd:date" />
				<xsd:element name="status" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--Label -->
	<xsd:element name="LabelResults">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="total" type="xsd:int" />
				<xsd:element ref="tns:LabelModel" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="LabelModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="labelId" type="xsd:long" />
				<xsd:element name="name" type="xsd:string" />
				<xsd:element name="color" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="LabelShortModel">
		<xsd:complexType>
			<xsd:sequence>

				<!-- Other fields -->
				<xsd:element name="labelId" type="xsd:long" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--Link -->
	<xsd:element name="LinkResults">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="total" type="xsd:int" />
				<xsd:element ref="tns:LinkModel" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LinkModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="docFileId" type="xsd:long" />
				<xsd:element name="codeNo" type="xsd:string" />
				<xsd:element name="codeNotation" type="xsd:string" />
				<xsd:element name="subject" type="xsd:string" />
				<xsd:element name="typeName" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LinkShortModel">
		<xsd:complexType>
			<xsd:sequence>

				<!-- Other fields -->
				<xsd:element name="docFileId" type="xsd:long" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!--Activity -->
	<xsd:element name="ActivityModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="activityId" type="xsd:long" />
				<xsd:element name="subject" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<!--Attach -->
	<xsd:element name="AttachsResults">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="total" type="xsd:int" />
				<xsd:element ref="tns:AttachModel" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="AttachModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="fileEntryId " type="xsd:long" />
				<xsd:element name="fileName" type="xsd:string" />
				<xsd:element name="createdDate" type="xsd:date" />
				<xsd:element name="modifiedDate" type="xsd:date" />
				<xsd:element name="fileType" type="xsd:string" />
				<xsd:element name="fileSize" type="xsd:int" />
				<xsd:element name="version" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--Roles -->
	<xsd:element name="RolesResults">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="total" type="xsd:int" />
				<xsd:element ref="tns:RolesModel" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="RolesModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="roleId " type="xsd:long" />
				<xsd:element name="name" type="xsd:string" />
				<xsd:element name="readwrite" type="xsd:boolean" />
				<xsd:element name="approval" type="xsd:boolean" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="RolesShortModel">
		<xsd:complexType>
			<xsd:sequence>
				<!-- Other fields -->
				<xsd:element name="roleId" type="xsd:long" />
				<xsd:element name="readwrite" type="xsd:boolean" />
				<xsd:element name="approval" type="xsd:boolean" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="RolesInputModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="readwrite" type="xsd:boolean" />
				<xsd:element name="approval" type="xsd:boolean" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--UserDocFile -->
	<xsd:element name="UserDocFileResults">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="total" type="xsd:int" />
				<xsd:element ref="tns:UserDocFileModel" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="UserDocFileModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="userId " type="xsd:long" />
				<xsd:element name="name" type="xsd:string" />
				<xsd:element name="readwrite" type="xsd:boolean" />
				<xsd:element name="approval" type="xsd:boolean" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="UserDocFileShortModel">
		<xsd:complexType>
			<xsd:sequence>
				<!-- Other fields -->
				<xsd:element name="userId" type="xsd:long" />
				<xsd:element name="readwrite" type="xsd:boolean" />
				<xsd:element name="approval" type="xsd:boolean" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="UserDocFileInputModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="readwrite" type="xsd:boolean" />
				<xsd:element name="approval" type="xsd:boolean" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--Approval -->
	<xsd:element name="ApprovalModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="approvalDate" type="xsd:date" />
				<xsd:element name="signerUserId" type="xsd:long" />
				<xsd:element name="verified" type="xsd:boolean" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="ApprovalShortModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="approvalDate" type="xsd:date" />
				<xsd:element name="eSignature" type="xsd:long" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--ChangeLog -->
	<xsd:element name="ChangeLogResults">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="total" type="xsd:int" />
				<xsd:element ref="tns:ChangeLogModel" minOccurs="0"
					maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="ChangeLogModel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="changeLogId" type="xsd:long" />
				<xsd:element name="createDate" type="xsd:date" />
				<xsd:element name="author" type="xsd:string" />
				<xsd:element name="content" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>

